

body{
	background-color:#F8F8F8!important;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}

ul{
	padding: 0;
    list-style-type: none;
}


.social-links ul, li{
	list-style-type:none;
	display: inline-block;
}

.social{
	width:20px;
	height: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
h1 {
  color: #342D7E;
  font-family:'Luminari'
}


.gallery{
  display: flex;
  width: 1010px;
  margin: auto;
  justify-content: space-between;
  border: 2px dashed gray;
}
figure{
  width: 200px;
  margin: 0;
  border: 1px solid #777;
  padding: 8px;
  flex-shrink: 0;
}
figure img{
  width: 100%;
}
figure figcaption{
  text-align: center;
  padding: 8px 4px;
}
* {
  box-sizing: border-box;
}